{% extends "app_users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ author.fullname }}{% endblock %}

{% block content %}
<h1><a href="{% url 'app_quotes:author_detail' slug=author.slug %}">{{ author.fullname }}</a></h1>
<p>{{ author.description }}</p>
<p>{{ author.born_date }}</p>
<p>{{ author.born_location }}</p>
<p>{{ author.created_at }}</p>

<h2>Quotes</h2>
<ul>
    {% for quote in author.quote_set.all %}
        <li>"{{ quote.text }}"</li>
    {% endfor %}
</ul>
{% endblock %}
